nav {
  border-bottom: 50px;
  max-height: 60px;
  padding: 20px;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  .main-nav {
    display: block; 
    
    a {
      color: $cr-gray-dark;
      text-decoration: none;
      padding-right: 15px;
    }

    button {
      background-color: $cr-gray-lighter;
      padding: 15px 25px;
      border: none;
      border-radius: 4px;
      margin: 0px 10px;
    }

    @media only screen and (max-width: 900px) {
      display: none;
    }
  }

  .logo img {
    max-width: 250px;
  }

  .mobile-nav {
    display: none;

    @media only screen and (max-width: 900px) {
      display: flex;
    }

    .mobile-links {
      display: none;
    }
  }
}