nav {
  border-bottom: 50px;
  max-height: 60px;
  padding: 30px;

  .main-nav {
    float: right;
    padding: 15px;
    
    a {
      color: $cr-gray-dark;
      text-decoration: none;
      padding-left: 10px;
    }

  }
  .logo img {
    width: 150px;

  }
}